/* General */
html, body{
    font-family: 'Montserrat', sans-serif !important;
    color: #4A5764;
}
h1,h2,h3,h4,h5,h6,p,ul,li,nav,span,section,div{
    margin: 0;
    padding: 0;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

section{
    padding: 90px 0;
}

.cta{
    color: #fff;
    background-color: #3899FF;
    border: none;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 50px;
    box-shadow: 0 4px 6px #03245f94;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.cta:hover{
    background-color: #3082d8;
    box-shadow: 0 8px 12px #03245f94;
    color: #fff;
    text-decoration: none;
}

.cta:hover, .cta:visited, .cta:focus{
    background-color: #3082d8;
    outline: none;
    color: #fff;
    text-decoration: none;
}

.cta.cta-light{
    box-shadow: 0 4px 6px #03245f34;
    margin-top: 20px;
}
.cta-light:hover{
    box-shadow: 0 8px 12px #03245f34;
}

.paragraph{
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.paragraph.light{
    color: #fff;
}

.title{
    font-size: 32px;
    color; #4A5764;
    margin: 0 0 45px 0;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}

.title.light-title{
    font-size: 32px;
    color: #fff;
}

.title:before{
    content: "¿QUIÉNES SOMOS?";
    position: absolute;
    top: -38px;
    right: 0;
    left: 0;
    font-size: 56px;
    opacity: 0.1;
}

.title:after{
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 8px;
    background-color: #3899FF;
    position: absolute;
    bottom: -10px;
    right: 50%;
    left: 50%;
    margin-left: -35px;
}

/* HEADER */
header{
    position: fixed;
    z-index: 1000;
    padding: 12px;
    width: 100%;
    transition: all .1s ease-in-out;
}

.header-fixed{
    background-color: #212d42f2;
}

header .logo{
    margin: 0;
}
header .logo img{
    width: 206px;
}

.header-fixed img{
    transition: all .3s ease-in;
}

header{
    transition: all .3s ease-in-out;
}

header .cel_icon{
    display: none;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
}
header .cel_icon:hover, header .cel_icon:visited{
    color: #3899FF;
}

header nav{
    margin: 20px 0 10px 0;
    text-align: right;
    padding-top: 24px;
}
header nav li{
    display: inline-block;
    margin: 0 8px;
}

nav li a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition: all .1s ease-in-out;
    padding: 10px;
    cursor: pointer;
}
nav li a:hover{
    color: #fff;
    border-bottom: 3px solid #3899FF;
    text-decoration: none;
}

nav li a:active, a:visited{
    text-decoration: none;
    color: #fff;
}

/* Main Section - Dark Section */

.main-section{
    background: #023262 url(../images/background.png) no-repeat;
    background-size: cover;    
    padding-top: 118px;
    height: auto;
    color: #fff;
    padding-bottom: 166px;
}

.heading{
    margin-top: 50px;
}

.heading .headline{
    font-size: 30px;
    font-weight: 100;
    text-align: left;
    line-height: 1.4;
    text-transform: uppercase;
}
.heading .random-title{
    font-size: 52px;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.shadows{
    position: relative;
}

.shadows .freestyler1{
    position: absolute;
    top: 0;
    left: -170px;
}

.shadows .freestyler2{
    position: absolute;
    right: -80px;
    bottom: -431px;
}

/* Section "Quienes Somos" */

.about{
    background: #202C42;
    color: #fff;
    text-align: center;
}

.about span{
    font-size: 22px;
}
/* Services Section */

.services{
    text-align: center;
    background-color: #F2F2F2; 
}
.services .title:before{
    content: "NUESTROS SERVICIOS";
}

.services .collage, .services-list{
    margin: 60px 0;
}
.collage img{
    width: 100%;
    max-width: 580px;
}
.services-list{
    text-align: left;
    font-size: 20px;
    list-style: none;
    margin-top: 110px;
}
#services .services-list{
    padding-left: 80px;
}
.services-list li{
    padding-bottom: 16px;
}
.services-list span{
    padding-right: 15px;
    color: #3899FF;
}
.gallery{
    text-align: center;
}
.gallery-images{
    margin-bottom: 30px;
}
.gallery .title:before{
    content: "GALERÍA DE FOTOS";
}

.contact .title:before{
    content: "CONTACTO";
}
.images{
    padding: 15px 0;
}
.images img{
    width: 100%;
}

.contact .social{
    color: #fff;
    list-style: none;
    text-align: center;
}
.social li{
    color: #fff;
    font-size: 30px;
    display: inline-block;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 5px;
    transition: all .3s ease-in-out;
}
.social i{
    color: #fff;
    transition: all .3s ease-in-out;
}
.social li:hover i {
    color: #3899FF;
}
.social li:hover{
    border-color: #3899FF;
}

.contact .phone_numbers{
    color: #fff;
    font-size: 28px;
    text-align: center;
}
.phone_numbers a{
    padding: 20px;
    transition: all .3s ease-in-out;
    color: #fff;
}
.phone_numbers a:hover, .phone_numbers a:visited{
    color: #7ebdff;
    text-decoration: none;
}
.phone_numbers i{
    padding-right: 12px;
}

.copyright{
    padding: 20px 0;
    background: #001A28;
    color: #fff;
    text-align: center;
}
.copyright .paragraph{
    padding: 0;
}
footer{
    background-color: #202C42;
}

/* Media Queries */

@media (max-width: 1370px) {
    .shadows .freestyler1{
        position: absolute;
        top: -30px;
        left: -200px;
    }

    .shadows .freestyler2{
        position: absolute;
        right: -30px;
        bottom: -431px;
    }
}

@media (max-width: 1200px) {
    .shadows .freestyler1{
        top: -30px;
        left: -200px;
        display: none;
    }
    .main-section{
        padding-top: 90px;
        padding-bottom: 108px;
    }

    .shadows .freestyler2{
        right: -25px;
        bottom: -431px;
        
    }
}

@media (max-width: 992px) {
    .heading .headline{
        font-size: 24px;
    }
    .heading .random-title{
        font-size: 42px;
    }
    .shadows .freestyler2{
        right: -25px;
        bottom: -390px;
    }
}
@media (max-width: 767px) {
    .main-section, .logo, .heading .headline{
        text-align: center;
    }
    .header-fixed .logo img{
        width: 130px;
    }
    .title, .title.light-title {
        font-size: 20px;
    }
    .title:before{
        top: -18px;
        font-size: 26px;
    }
    section {
        padding: 60px 0;
    }
    #services .services-list{
        padding-left: 20px;
        margin: 0;
    }
    .social li{
        font-size: 22px;
        padding: 5px;
        width: 44px;
        height: 44px;
    }
    .contact .phone_numbers{
        font-size: 18px;
    }
    .contact .phone_numbers span{
        padding: 10px;
    }
    .cta{
        font-size: 16px;
    }
    .copyright .paragraph{
        font-size: 14px;
    }
     .header-fixed h1{
        text-align: left;
        padding: 0;
    }
    .header-fixed .container{
        padding: 0;
    }
    .header-fixed .cel_icon{
        display: initial;
    }
    .about span{
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 560px) {
    #services .services-list{
        font-size: 14px;
    }
    .cta{
        font-size: 14px;
    }
    .phone_numbers a{
        padding: 10px;
        display: block;
    }
}
